<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="eventHub"
             type="EventHub.Core.Config.EventHubSettings, EventHub.Core"
             allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <eventHub>
    <schedulers maxConcurrentTask="100">
      <pubScheduler maxConcurrentTask="80">
      </pubScheduler>
      <subScheduler maxConcurrentTask="">
      </subScheduler>
    </schedulers>
    <listeners
      maxConcurrentTaskCount="1000">
      <listener selector="ODPS_KS_APP1"
                maxConcurrentTaskCount = "5" />
      <listener selector="Poison"
                maxConcurrentTaskCount = "1" />
    </listeners>
    <stores>
      <dbEventStore name="Event"
               table="Event"
               connection="TestDb"
               bodyTable="EventBody"
               logTable="EventState"
               deadLetterTable="DeadLetterEvent"
               maxConcurrentTaskCount="5">
        <headers>
          <add name="MessageId" />
          <add name="From" />
          <add name="To" />
          <add name="Action" />
          <add name="Label" />
        </headers>
      </dbEventStore>
    </stores>
    <selectors>
      <selector name="%To%_KS" store="Event"
                predicate="[To] = '%To%' And Label = 'KS'"/>
      <selector name="%To%" store="Event"
                predicate="[To] = '%To%'"/>
      <selector name="Poison" store="Event"
                predicate=""/>
    </selectors>
    <delays>
      <delay selector="%To%" value="00:00:05"/>
      <delay selector="Poison" value="00:00:05" />
    </delays>
    <lifeTimes>
      <lifeTime selector="%To%" value="40.00:00:00" />
      <lifeTime selector="Poison" value="40.00:00:00" />
    </lifeTimes>
  </eventHub>

</configuration>